venv/
QuantNets/Dataset/
QuantNets/Dataset15/
QuantNets/Dataset30/
QuantNets/Dataset100/
QuantNets/Experiments/
QuantNets/__pycache__
QuantNets/gnn/__pycache__
QuantNets/gnn/__pycache__/architectures.cpython-312.pyc
other_dataset_processing/NEO/FC_base_id.txt
other_dataset_processing/OASIS
other_dataset_processing/3D+4D/aparc_paths.loc
MIND_processing/submit_MIND/pipe_scripts/subject_paths
MIND_processing/submit_MIND/pipe_scripts/paths_aparc.loc
MIND_processing/submit_MIND/pipe_scripts/paths_HCP-MMP_base.loc
MIND_processing/submit_MIND/pipe_scripts/paths_HCP-MMP.loc
MIND_processing/submit_MIND/pipe_scripts/paths_merged.loc
MIND_processing/submit_MIND/aparc_base_id.txt
miscellaneous/create_FC_matrix.py
miscellaneous/compare_csv.py
miscellaneous/remove_TMT_outliers.ipynb